.contacts
    .block-title.contacts__title Контакты
    ul.contacts__list
        li.contacts__item
            a.contacts__link
            +icon(skype) bestalchova
        li.contacts__item
            a.contacts__link
            +icon(envelope) helgitta87@gmail.com
        li.contacts__item
            a.contacts__link
            +icon(phone) +7 927 69 56 310
        li.contacts__item
            a.contacts__link
            +icon(map_marker) г.Самара, ул.Белорусская, д.42