section.section.hero
    .hero__bg
        img.hero__bg-img(src='img/bg/mount_bg.jpg')
    include ../_includes/header.pug
    .hero__container
        img.title-bg(src='img/bg/portfolio_header.svg')
        +user('','user__name','Уразлова Ольга','user__occup','Личный сайт разработчика')
    +icon('arrow_down','arrow_down_sm')
    
