nav.sidebar-nav
    ul.sidebar-nav__list
        +sb-item('#','Самое важное в Sass')
        +sb-item('#','Приемы в верстке, без которых не обходиться ни один сайт')
        +sb-item('#','Самый необходимый набор плагинов Gulp')
        +sb-item('#','Почему я выбрал Jade')
