.slider 
    .slider__desc
        .block-title.slider__title
        .slider__desc-tech
        a.slider__link(href='#' target='_blank')
            i.fa.fa-link Посмотреть сайт
    .slider__full-view
        img.slider__img_big(src='img/content/work-1.png')
    .slider__preview
        .slider__preview_left
            +icon('arrow_down','arrow_down_slider')
            img.slider__img_small(src='img/content/work-2.png')
        .slider__preview_right
            +icon('arrow_down','arrow_up_slider')
            img.slider__img_small(src='img/content/work-4.png')
            
        