form.callback-form
    .callback-form__row
        label.callback-form__label
            input.callback-form__input(type='name' name='name' placeholder='Имя')
    .callback-form__row
        label.callback-form__label
            input.callback-form__input(type='email' name='email' placeholder='Email')
    .callback-form__row
        label.callback-form__label
            textarea.callback-form__textarea.callback-form__input(name='name' placeholder='Ваше сообщение')
        